<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>LiYang`s Blog</title>
    <link href="{{get_url(path='styles/tailwind.css',cachebust=true)}}" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar flex justify-between w-full gap-2 shadow-sm">
      <a href="/"><button class="btn btn-text font-bold text-xl">LiYang8246</button></a>
      <div>
        <a href="/"><button class="btn btn-text">Home</button></a>
        <a href="/"><button class="btn btn-text">Blog</button></a>
        <a href="/"><button class="btn btn-text">Friends</button></a>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
